* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  }
  
  header {
    background: #202529;
    color: white;
    height: 10vh;
    min-height: 75px;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0px 23px;
  }
  
  .github-logo {
    fill: white;
    margin: 0 0.5em 0 0.5em;
  }
  
  header nav:nth-of-type(1) {
    width: 55%;
  }
  
  /* header ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
  } */
  
  header ul li {
    display: inline-block;
    cursor: pointer;
    margin-left: 12px;
  }
  
  header ul li:hover {
    color: #C7C8C9;
  }
  
  header form {
    width: 19%;
  }
  
  header input {
    font-size: 0.9em;
    padding: 0.5em;
    border: none;
    background: #3C4044;
    border-radius: 7px;
    width: 100%;
  }
  
  header nav:nth-of-type(2) {
    width: 20%;
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-profile{
    width: 20px;
    height: 20px;
    border-radius: 50%
  }
  
  .icon-drop-nav ul li:nth-of-type(2) {
    margin: 0 0.5em 0 0.5em;
    color: #C7C8C9;
  }
  
  main {
    display: flex;
    padding: 31px 31px;
  }
  
  main aside {
    width: 25%;
    display: inline-block;
    padding: 1em;
    text-align: left;
  }
  
  aside img {
    width: 100%;
    padding: 0.23em;
    border-radius: 22px;
    border-radius: 50%;
    /* margin: 0.5em; */
  }
  
  main section {
    width: 65%;
    display: inline-block;
  }
  
  .grey-text {
    color: #8b8b8b;
  }
  .dark-text{
    color: #000;
  }
  .profile-edit-btn{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 31px;
    width: 100%;
    cursor: pointer;
  }

  .profile-edit-btn:focus{
    outline: none;
  }

  .location-details li{
    list-style-type: none;
    margin-top: 8px;
  }
  .location-details li span{
    margin-left: 8px;
    vertical-align: top;
  }
  .l-wrapper{
    margin: 20px 0px;
    font-size: 14px;
  }
  .username {
    font-weight: bold;
  }

  .language-color{
    position: relative;
    top: -1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    
  }

  .language-color, .iconify{
    margin-right: 2px;
  }

  .stats-list{
    margin-right: 16px;
    margin-left: 16px;
  }

  a:hover{
    color: rgb(83, 83, 238);
    text-decoration: underline;
  }
  
  .bio {
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 18px;
    
  }
  
  .repo-nav {
    display: block;
    width: 100%;
  }
  
  .repo-nav li {
    cursor: pointer;
    display: inline-block;
    padding: 1em;
    margin-left: 1em;
    border-bottom: 2px solid #CBCFD5;
  }
  
  .repo-nav li:hover {
    border-bottom-width: 3px;
  }
  
  .repo-nav li:nth-of-type(2) {
    border-bottom: 3px solid #DF570C;
  }

  .repos-title {
    font-weight: normal;
    margin: 1em;
  }
  
  .repositories {
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
    width: 100%;
    height: 100%;
  }
  
  .repositories .repo-wrapper:nth-of-type(1n) {
    margin-right: 0.5em;
  }
  
  /* .repositories .repo-wrapper:nth-of-type(2n) {
    margin-left: 0.5em;
  } */
  
  .repo-wrapper {
    width: 100%;
    margin-bottom: 0.5em;
    /* height: 30%; */
  }
  
  .repo {
    border-bottom: 1px solid #CBCFD5;
    padding: 1em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .repo h3 {
    color: #035CD0;
  }
  
  .repo p {
    margin-top: 1em;
    margin-bottom: 1em;
    overflow-wrap: break-word;
    width: 70%;
  }
  
  .repo-description{
    color:#586069;
    font-size: 14px;
  }

  .stats {
    display: flex;
    font-size: 12px;
    color:#586069;
    align-self: baseline;
  }
  
  .stats li {
    display: flex;
    align-items: center;
  }
  
  .icon {
    display: inline-block;
    margin: 0.5em;
  }
  
  .seperator {
    margin: 1em 0;
  }
  
  a {
    color: #035CD0;
    text-decoration: none;
  }


@media screen and (max-width: 760px) {

    main{
        display: block;
    }
    main section {
        width: 100%;
        display: inline-block;
      }
      main aside {
        width: 100%;
        padding: 1em;
    }

    .repo-nav {
      display: flex;
      overflow-x: scroll;
  }
}


/* .navbar{
  overflow: hidden;
  display: flex;
  width: 100%;
}
@media screen and (max-width: 600px) {
  
  .navbar form, nav ul li{
    display: block;
  }
} */

